:root {
  color-scheme: light;
  font-family: "Noto Sans","Google Sans",Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  --fa-width: auto;
}

a {
  color: #007bff;
  text-overflow: ellipsis;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

#menu {
  background-color: #2e312f;
  flex: 0 0 auto;
}

#menu .offcanvas {
  background-color: #2e312f;
}

header {
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  padding: 8px 20px;
  right: 0;
  top: 0;
  height: 46px;
  width: 137px;
}

header button:hover {
  color: #0056b3;
}

header button, #helpForm .modal-body button {
  background-color: #2e312f;
  border: 0;
  border-radius: 5px;
  color: #007bff;
  width: 34px;
  height: 30px;
}

iframe#mapBox {
  width: 100%;
  height: 100%;
}

#navbarSocial {
  font-size: 24px;
}
#navbarSocial .ico-idx {
  font-size: 15px;
}

/* Edit form*/
#editForm .modal-content {
  background-color: #f6f6f6;
}
#editForm .modal-dialog {
  height: calc(100% - 1rem) !important;
}
@media (min-width: 576px) {
  #editForm .modal-dialog {
    height: calc(100% - 3.5rem) !important;
    max-width: min(95%, 768px);
  }
}

#helpForm .modal-dialog {
  max-width: 650px;
}
